<nav class="navbar text-bg-success p-3 navbar-expand-lg">
  <div class="container fluid">
    <a class="navbar-brand mx-auto" href="#">
      <i class="color-white fa fa-shopping-cart"></i>
    </a>
  </div>
</nav>
{{> dashboard}}